<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<p th:text="#{home.welcome}">Welcome!</p>

<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th style="min-width: min-content">Product id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.price}"/>
        </tr>
    </table>
</div>
</body>
</html>